.review-item {
    padding: 8px;
    border: 1px solid $light-grey;
    border-top-color: transparent;
    transition: all 250ms ease-in-out;

    @include sm {
        padding: 8px 16px;
    }

    &:first-child {
        border-top-color: $light-grey;
    }

    &:hover {
        border-color: $secondary;
        background: $secondary-light;
    }

    .review-item__rate {
        margin: 0;
        color: $white;
        font-weight: $font-weight-bold;
        @include font-size($lg-font);
        padding: 10px;
        background: $brand;
    }

    .review-item__title {
        margin: 0;
        color: $grey;
        font-weight: $font-weight-bold;
        @include font-size($lg-font);
    }
}
